.container{
  display: flex;
}

.map{
  height: 750px;
  width: 750px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(10, 75px);
}

.tile {
  height: 75px;
  width: 75px;
  border-radius: 1px;
  border: black 1px solid;
  display: flex;
}

.brawn {
  background-color: #d6b584;
}

.notbrawn {
  background-color: #bd945a;
}

.pawn {
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: gray 2px dashed;
}

.pawn:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
